.font-rotondac {
  font-size: 14px;
  font-family: $rotondac;
  font-weight: 400;

  &--bigger {
    font-size: 16px;
  }

  &--smaller {
    font-size: 12;
  }

  &--bold {
    font-weight: 700;
  }
}
