// Shades of gray
$white: #fff;
$graySilver: #f2f6f7;
$whiteGray: #f7fbfc;
$grayBitLighter: #ddd;
$grayFlash: #dae4e5;
$grayAnother: #b4c6c7;
$grayLight: #a3b7bd;
$grayLightUp: #a3a8a8;
$grayLightSome: #b9c5c9;
$gray: #a2b6b8;
$grayDarken: #6f6f6f;
$grayDark: #333;
$black: #000;

// Coloreds
$redhead: #ff582a;
$lawngreen: #72bf44;
$greenLighter: #7ac143;
$greenLight: #a7d876;
$green: #00a651;
$greenDarker: #018c44;
$greenDarkness: #043e44;
$greenDark: #50787d;
$turquoiseGray: #477675;
$greenDeepDark: #041c24;

// Layouts
$background: $graySilver;
$active: $lawngreen;
$activeDarken: $green;
$base: $black;
$baseColor: $greenDarkness;
$darkColor: $greenDeepDark;
